# =========================
# ROS 2 Build Artifacts
# =========================
build/
install/
log/

# =========================
# Python
# =========================
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.egg-info/
*.egg-link

# =========================
# VS Code
# =========================
.vscode/

# =========================
# Operating System Files
# =========================
.DS_Store
Thumbs.db
