<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================================= -->
  <!-- Chassis -->
  <!-- ========================================================= -->

  <link name="base_link">

    <inertial>

     <origin xyz="0 0 ${body_z}" rpy="0 0 0"/>

     <mass value="5.0"/>

     <inertia
      ixx="0.08"
      ixy="0.0"
      ixz="0.0"
      iyy="0.12"
      iyz="0.0"
      izz="0.15"/>

    </inertial>

    <visual>

      <origin xyz="0 0 ${body_z}"/>

      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>

      <material name="blue"/>

    </visual>

    <collision>

      <origin xyz="0 0 ${body_z}"/>

      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>

    </collision>

  </link>

</robot>