<?xml version="1.0"?>

<robot xmlns:xacro="http://www.ros.org/wiki/xacro">

  <!-- ========================================================= -->
  <!-- Chassis -->
  <!-- ========================================================= -->

  <link name="base_link">

    <visual>

      <origin xyz="0 0 ${body_z}"/>

      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>

      <material name="blue"/>

    </visual>

    <collision>

      <origin xyz="0 0 ${body_z}"/>

      <geometry>
        <box size="${chassis_length} ${chassis_width} ${chassis_height}"/>
      </geometry>

    </collision>

  </link>

</robot>